.main-container {
  width: 70%;
  margin: 0 auto;
}

/* menu styles */
.menu {
  background-color: #1B4A2F;
  min-height: 60px;
  padding: 10px 0;
}

.menu-content {
  width: 70%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu h1 {
  font-size: 34px;
  color: #FFF;
  flex-basis: 20%;
  font-weight: bold;
}

.menu input {
  flex-basis: 50%;
  height: 34px;
  width: 100%;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 5px;
}

.menu ul li {
  font-size: 18px;
  color: #FFF;
}

/* home styles */

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card-product {
  background-color: #FFF;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;

  flex-basis: 30%;

  display: flex;
  flex-direction: column;
  gap: 5px;

  align-items: center;
}

.card-product h2 {
  color: #1B4A2F;
  font-size: 18px;
}

.button-default {
  background-color: #1B4A2F;
  border: 0;
  padding: 10px 5px;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
}

/*  Details styles */

.product-details {
  display: flex;
  background-color: #FFF;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;

}

.product-details-photo {
  object-fit: contain;
  width: 250px;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.product-content h2, span{
 font-size: 32px;
 color: #1B4A2F;
}

.product-controls {
  display: flex;
  gap: 20px;
}

.product-controls button {
  background-color: #1B4A2F;

  padding: 10px;
  color: #FFF;
  margin-right: 0 5px;
}

.product-quantity {
  font-size: 24px;
  color: #1B4A2F;
  font-weight: bold;
}

/* cart styles */

.table-cart {
  width: 100%;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.table-cart thead, th {
  color: #999;
  text-align: left;
  padding: 12px;
}

.table-cart tbody, th {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.table-image {
  height: 100px;
}

.margin-button {
  margin: 0px 5px;
}

.footer-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}